<div>
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 lg:col-6">
                <div class="text-900 text-2xl font-bold mb-4">GET IN TOUCH</div>
                <p class="text-700 line-height-3 pr-0 lg:pr-5">Please feel free to reach out and speak to a member of our team. The best way to reach us would be by either phone or email.
                     If you are close and would like to just drop in to see us, you can find our location below.
                </p>
            </div>
            <div class="col-12 md:col-4 lg:col-2">
                <div class="flex align-items-start">
                    <div>
                        <span class="flex align-items-center justify-content-center surface-100 border-round mr-3" style="height: 3rem; width: 3rem">
                            <i class="pi pi-map-marker text-900 text-4xl"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-2xl text-900 mb-2 font-medium">Address</span>
                        <p class="text-700 line-height-3">356 A Islington St, Portsmouth, NH 03801</p>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-4 lg:col-2">
                <div class="flex align-items-start">
                    <div>
                        <span class="flex align-items-center justify-content-center surface-100 border-round mr-3" style="height: 3rem; width: 3rem">
                            <i class="pi pi-inbox text-900 text-4xl"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-2xl text-900 mb-2 font-medium">Email</span>
                        <p class="text-700 line-height-3">willtreuel6@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-4 lg:col-2">
                <div class="flex align-items-start">
                    <div>
                        <span class="flex align-items-center justify-content-center surface-100 border-round mr-3" style="height: 3rem; width: 3rem">
                            <i class="pi pi-phone text-900 text-4xl"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-2xl text-900 mb-2 font-medium">Phone</span>
                        <p class="text-700 line-height-3">(603)998-6741</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.508365274184!2d-70.76891198414191!3d43.072806579145464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e2bf9e51ead135%3A0xe90f31e86ccc7864!2s356%20Islington%20St%2C%20Portsmouth%2C%20NH%2003801!5e0!3m2!1sen!2sus!4v1669838415584!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>