<p-dataView #dt [value]="boxes">
    <ng-template let-box pTemplate="gridItem">
        {{box.boxName}}
    </ng-template>
</p-dataView>

<div class="card">
    <p-dataView #dv [value]="boxes" [paginator]="true" [rows]="9" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">

        <ng-template let-box pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{box.boxBrand}}</span>
                        </div>
                    </div>
                    <div class="product-grid-item-content">
                        <img [src]="'../../../assets/images/topps1.png'" [alt]="box.boxName" height="42" width="50">
                        <div class="product-name">{{box.boxName}}</div>
                        <div class="product-description">{{box.boxDescription}}</div>
                     </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{box.boxPrice}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
