
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid -mt-3 -ml-3 -mr-3">
        <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
            <div class="p-2">
                <img src="../../../assets/images/topps1.png" class="w-full mb-3" />
                <div class="text-900 text-xl font-medium mb-2">$140.00</div>
                <div class="mb-2">
                    <span class="text-600 line-through">$175.00</span>
                    <span class="ml-2 text-pink-500 font-medium">%25</span>
                </div>
                <span class="text-900">Product Name</span>
            </div>
        </div>
    </div>
</div>
