

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Welcome to your Control Center!</span>
    </div>

</div>
<div class="bg-indigo-500 h-5" id="type1" style="text-align:center">
<h1>Site Management</h1>
<div class="btn-1" routerLink="/admininventoryboxes">
  Admin Box Inventory
</div>

<div class="btn-2" routerLink="/admininventorycards">
  Admin Card Inventory
</div>

<div class="btn-3" routerLink="/adminemail">
  Email List
</div>

<div class="btn-4" routerLink="/admincontrols">
  Web Controls
</div>

</div>


  





