.block1{
    display: block;
  width: 100%;
  height: 250px;
  border: none;
  background-color: #4141cc;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
}

.block2{
    display: block;
  width: 100%;
  height: 250px;
  border: none;
  background-color: #4141cc;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
}

.block3{
    display: block;
  width: 100%;
  height: 250px;
  border: none;
  background-color: #4141cc;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
}

.block4{
  display: block;
width: 100%;
height: 250px;
border: none;
background-color: #4141cc;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
text-align: center;
border-radius: 25px;
}


* {
  padding:0;
margin: 0;
}
body {
  text-align: center;
  font-family: "Roboto";
  color: #fff;
  letter-spacing:1px;
}

#type1 {
  background-color:#42a5f5;
  padding-bottom: 50px;
}

#type2 {
  background: #66bb6a;
  padding-bottom: 50px;
}

#type3 {
  background: #ffa726;
  padding-bottom: 60px;
  position: relative;
}

#type4 {
  background: #78909c;
  padding-bottom: 50px;
}

h1 {
  font-size: 50px;
  padding: 30px 0;
}

h3 {
  padding:30px 0 0 0;
}

h3 a {
  margin-left:5px;
  text-decoration: none;
  color: #fff;
  font-weight: light;
  border-bottom: 1px dotted;
  padding: 0 2px 3px 2px;
}

h3 a:hover {
  border-bottom:1px solid;
}

.btn-1 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
}

.btn-1:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}

.btn-1:hover:before {
  left:95%;
}

/* Buton 1 bitti */

.btn-2 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
}

.btn-2:before {
  content: "";
  position: absolute;
  height: 11px;
  width: 100%;
  background : #fff;
  left: 0;
  top: 0;
  transition: all .3s;
  opacity: 0.3;
}

.btn-2:hover:before {
  top: 77%;
}

/* Buton 2 Bitti */

.btn-3 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
}

.btn-3:before {
  content: "";
  position: absolute;
  height: 11px;
  width: 100%;
  background : #fff;
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.3;
}

.btn-3:hover:before {
  bottom: 80%;
}

/* Buton 3 Bitti */

.btn-4 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
}

.btn-4:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  right: -40px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}

.btn-4:hover:before {
  right: 105%;
}

/* Buton 4 Bitti */

.btn-5 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
}

.btn-5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background : #fff;
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.3;
}