
<div class="grid">
    <div class="col">
        <button type="button" class="block1" routerLink="/admininventoryboxes">Boxes Button</button>
    </div>
    <div class="col">
        <button type="button" class="block2" routerLink="/admininventorycards">Cards Button</button>
    </div>
    <div class="col">
        <button type="button" class="block3" routerLink="/adminemail">Email List</button>
    </div>
    <div class="col">
        <button type="button" class="block4" routerLink="/admincontrols">Admin Controls</button>
    </div>
</div>