<p-toast></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<div class="backgroundimg" style="background-image: url('assets/images/simpleback.jpg')">
<div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8">🔥 New Inventory!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">View an always up to date list of our shops inventory.</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
        <span class="underline font-bold" routerLink="/boxinventory" style="cursor: pointer;">Learn More</span>
    </a>

</div>
<div class="relative p-8 overflow-hidden bg-no-repeat bg-cover" *ngFor="let home of adminControls">
    <div class="text-center my-6 relative">
        <div class="text-6xl font-bold mb-1 text-white">{{home.homeTitle}}</div>
        <div class="text-6xl text-blue-400 font-bold mb-4">{{home.homeTitleTwo}}</div>
        <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width:500px">{{home.homeDescription}}</p>
        
        <div class="flex align-items-center justify-content-center flex-wrap">
            <input type="text" pInputText id="emailAddress" class=" border-white p-3 mr-3 mt-3" style="border-radius: 40px" size="30" [(ngModel)]="email.emailAddress" placeholder="Enter your email">
            <button type="button" label="Notify Me" pButton pRipple class="p-3 mt-3" style="border-radius: 40px" (click)="addHomeEmail(email)"></button>
        </div>
    </div>
</div>
<p-carousel [value]="cards" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template let-card pTemplate="item">
        <div class="product-item">
            <div class="product-item-content" style="background-color: aliceblue;">
                <div class="mb-3">
                    <img src="{{card.cardImage}}" [alt]="card.Name" class="product-image" />
                </div>
                <div>
                    <h4 class="mb-1">{{card.cardName}}</h4>
                    <h6 class="mt-0 mb-3">${{card.cardPrice}}</h6>
                    <div class="car-buttons mt-5">
                        <button pButton pRipple label="View Inventory" class="p-button font-bold" routerLink="/cardinventory"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
<div class="surface-section px-4 py-6 md:px-6" *ngFor="let faq of faqs">
    <div class="text-2xl text-900 font-bold mb-2 text-center">{{faq.faqBoldHeader}}</div>
    <div class="text-700 line-height-3 mb-6 text-center">{{faq.faqDescription}}</div>
    <p-accordion styleClass="mb-6" [activeIndex]="0">
        <p-accordionTab header="{{faq.faqQOne}}">
            <div class="line-height-3">{{faq.faqAOne}}</div>
        </p-accordionTab>
        <p-accordionTab header="{{faq.faqQTwo}}">
            <div class="line-height-3">{{faq.faqATwo}}</div>
        </p-accordionTab>
        <p-accordionTab header="{{faq.faqQThree}}">
            <div class="line-height-3">{{faq.faqAThree}}</div>
        </p-accordionTab>
        <p-accordionTab header="{{faq.faqQFour}}">
            <div class="line-height-3">{{faq.faqAFour}}</div>
        </p-accordionTab>
    </p-accordion>
    <div class="border-1 border-round surface-border p-5 surface-50 flex flex-column align-items-center">
        <p-avatarGroup styleClass="text-center">
            <p-avatar image="../../../assets/images/avatars/avatar-f-1.png" shape="circle" size="large"></p-avatar>
            <p-avatar image="../../../assets/images/avatars/avatar-f-2.png" shape="circle" size="large"></p-avatar>
            <p-avatar image="../../../assets/images/avatars/avatar-m-1.png" shape="circle" size="large"></p-avatar>
            <p-avatar image="../../../assets/images/avatars/avatar-m-4.png" shape="circle" size="large"></p-avatar>
            <p-avatar image="../../../assets/images/avatars/avatar-f-3.png" shape="circle" size="large"></p-avatar>
        </p-avatarGroup>
        <div class="font-medium text-xl mt-5 mb-3">{{faq.faqBoldFoot}}</div>
        <p class="text-700 line-height-3 mt-0 mb-5">{{faq.faqFootDescription}}</p>
        <button pButton pRipple label="Contact Us" icon="pi pi-send" class="p-button-help" routerLink="contact"></button>
    </div>
</div>

</div>


