
<!-- <div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center" style="background:linear-gradient(-225deg,#6a68ff,#3c5aff 48%,#1100ff)">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="p-6 shadow-2 text-center lg:w-30rem" style="border-radius: 12px;background-color: rgba(255,255,255,.1);color: rgba(255,255,255,.8)">
            <div class="text-4xl font-medium mb-6">Sign in</div>
            <input formControlName="email"  required  type="email" class="appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-white-alpha-10 text-white-alpha-60" value="Email" style="border-radius: 30px">
            <input formControlName="password"  type="password" class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 bg-white-alpha-10 text-white-alpha-60" value="Password" style="border-radius: 30px">
            <button type="button" class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium w-12rem bg-white-alpha-30 hover:bg-white-alpha-40 active:bg-white-alpha-20 text-white-alpha-80 cursor-pointer transition-colors transition-duration-150" style="border-radius: 30px">Sign In</button>
            <a class="cursor-pointer font-medium block text-center">Forgot Password?</a>
        </div>
    </form>
</div>  -->
<p-toast></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center" style="background:linear-gradient(-225deg,#6a68ff,#3c5aff 48%,#1100ff)">
      <form  [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="p-6 shadow-2 text-center lg:w-30rem" style="border-radius: 12px;background-color: rgba(255,255,255,.1);color: rgba(255,255,255,.8)">
          <div class="text-4xl font-medium mb-6">Sign in</div>
          <input formControlName="email"  required  type="email" class="appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-white-alpha-10 text-white-alpha-60" value="Email" style="border-radius: 30px">
          <input formControlName="password"  type="password" class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 bg-white-alpha-10 text-white-alpha-60" value="Password" style="border-radius: 30px">
          <button class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium w-12rem bg-white-alpha-30 hover:bg-white-alpha-40 active:bg-white-alpha-20 text-white-alpha-80 cursor-pointer transition-colors transition-duration-150" style="border-radius: 30px">Sign In</button>
          <a class="cursor-pointer font-medium block text-center" (click)="forgotPassword()">Forgot Password?</a>
        </div>
      </form>
</div>

<!-- <div>
    <h1>Hi Welcome Back</h1>
     <h3>Login Here</h3>
      <form  [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <label for="email">Email</label>
          <input formControlName="email"  required  type="email">
          <label for="password">Password</label>
          <input formControlName="password"  type="password">
        </div>
        <button>Submit</button>
        <span>Don't have an account? 
        <a routerLink="/signUp">signUp</a></span>
      </form>
  </div> -->