

<p-table [value]="contactInfoSet">
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">CONTACT PAGE</th>
            <th style="min-width:15rem">Contact Description</th>
            <th style="min-width:10rem">Contact Address</th>
            <th style="min-width:10rem">Contact Email</th>
            <th style="min-width:10rem">Contact Number</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contactInfo>
        <tr>
            <td></td>
            <td>{{contactInfo.contactDescription}}</td>
            <td>{{contactInfo.contactAddress}}</td>
            <td>{{contactInfo.contactEmail}}</td>
            <td>{{contactInfo.contactNumber}}</td>

            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editContact(contactInfo)"></button>
            </td>
            
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="contactInfoDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="contactDescription">Contact Description</label>
            <textarea id="contactDescription" pInputTextarea [(ngModel)]="contactInfo.contactDescription" required rows="3" cols="20"></textarea>
        </div>
        <div class="field">
            <label for="contactAddress">Contact Address</label>
            <input type="text" pInputText id="contactAddress" [(ngModel)]="contactInfo.contactAddress" required autofocus>
        </div>
        <div class="field">
            <label for="contactEmail">Contact Email</label>
            <input type="text" pInputText id="contactEmail" [(ngModel)]="contactInfo.contactEmail">
        </div>
        <div class="field">
            <label for="contactNumber">Contact Phone Number</label>
            <input type="text" pInputText id="contactNumber" [(ngModel)]="contactInfo.contactNumber">
        </div>

        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideContactDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContactInfo(contactInfo)"></button>
    </ng-template>
</p-dialog>


<p-table [value]="aboutInfoSet">
    <ng-template pTemplate="header">
         <tr>
            <th style="min-width:15rem">ABOUT PAGE</th>
            <th style="min-width:15rem">About Title</th>
            <th style="min-width:10rem">About Description</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aboutInfo>
        <tr>
            <td></td>
            <td>{{aboutInfo.aboutName}}</td>
            <td>{{aboutInfo.aboutDescription}}</td>
    
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editAbout(aboutInfo)"></button>
            </td>
                
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="aboutInfoDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="aboutName">About Title</label>
            <input type="text" pInputText id="aboutName" [(ngModel)]="aboutInfo.aboutName" required autofocus>
        </div>
        <div class="field">
            <label for="aboutDescription">About Description</label>
            <textarea id="aboutDescription" pInputTextarea [(ngModel)]="aboutInfo.aboutDescription" required rows="3" cols="20"></textarea>
        </div>     
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideAboutDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAboutInfo(aboutInfo)"></button>
    </ng-template>
</p-dialog>

<p-table [value]="homeInfoSet">
    <ng-template pTemplate="header">
         <tr>
            <th style="min-width:15rem">HOME PAGE</th>
            <th style="min-width:15rem">Home Bold Banner</th>
            <th style="min-width:10rem">Home Banner Text</th>
            <th style="min-width:10rem">Home Title</th>
            <th style="min-width:10rem">Home Title Two</th>
            <th style="min-width:10rem">Home Description</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-homeInfo>
        <tr>
            <td></td>
            <td>{{homeInfo.homeBannerBold}}</td>
            <td>{{homeInfo.homeBannerText}}</td>
            <td>{{homeInfo.homeTitle}}</td>
            <td>{{homeInfo.homeTitleTwo}}</td>
            <td>{{homeInfo.homeDescription}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editHome(homeInfo)"></button>
            </td>
                
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="homeInfoDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="homeBannerBold">Home Banner Bold</label>
            <input type="text" pInputText id="homeBannerBold" [(ngModel)]="homeInfo.homeBannerBold" required autofocus>
        </div>
        <div class="field">
            <label for="homeBannerText">Home Banner Text</label>
            <input type="text" pInputText id="homeBannerText" [(ngModel)]="homeInfo.homeBannerText" required autofocus>
        </div>
        <div class="field">
            <label for="homeTitle">Home Title</label>
            <textarea id="homeTitle" pInputTextarea [(ngModel)]="homeInfo.homeTitle" required rows="3" cols="20"></textarea>
        </div>   
        <div class="field">
            <label for="homeTitleTwo">Home Title "Two"</label>
            <textarea id="homeTitleTwo" pInputTextarea [(ngModel)]="homeInfo.homeTitleTwo" required rows="3" cols="20"></textarea>
        </div>    
        <div class="field">
            <label for="homeDescription">Home Description</label>
            <textarea id="homeDescription" pInputTextarea [(ngModel)]="homeInfo.homeDescription" required rows="3" cols="20"></textarea>
        </div>     
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideHomeDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveHomeInfo(homeInfo)"></button>
    </ng-template>
</p-dialog>

<p-table [value]="footerInfoSet">
    <ng-template pTemplate="header">
         <tr>
            <th style="min-width:15rem">FOOTER</th>
            <th style="min-width:15rem">Footer Bold</th>
            <th style="min-width:10rem">Footer Text</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-footerInfo>
        <tr>
            <td></td>
            <td>{{footerInfo.footerBold}}</td>
            <td>{{footerInfo.footerText}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFooter(footerInfo)"></button>
            </td>
                
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="footerInfoDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="footerBold">Footer Bold Text</label>
            <input type="text" pInputText id="footerBold" [(ngModel)]="footerInfo.footerBold" required autofocus>
        </div>    
        <div class="field">
            <label for="footerBold">Footer Text</label>
            <textarea id="footerBold" pInputTextarea [(ngModel)]="footerInfo.footerText" required rows="3" cols="20"></textarea>
        </div>     
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideFooterDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFooterInfo(footerInfo)"></button>
    </ng-template>
</p-dialog>

<p-table [value]="faqInfoSet">
    <ng-template pTemplate="header">
         <tr>
            <th style="min-width:15rem">FAQ</th>
            <th style="min-width:15rem">Faq Header Bold</th>
            <th style="min-width:10rem">Faq Description</th>
            <th style="min-width:10rem">Faq Question 1</th>
            <th style="min-width:10rem">Faq Answer 1</th>
            <th style="min-width:10rem">Faq Question 2</th>
            <th style="min-width:10rem">Faq Answer 2</th>
            <th style="min-width:10rem">Faq Question 3</th>
            <th style="min-width:10rem">Faq Answer 3</th>
            <th style="min-width:10rem">Faq Question 4</th>
            <th style="min-width:10rem">Faq Answer 4</th>
            <th style="min-width:10rem">Faq Footer Bold</th>
            <th style="min-width:10rem">Faq Footer Description</th>

            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-faqInfo>
        <tr>
            <td></td>
            <td>{{faqInfo.faqBoldHeader}}</td>
            <td>{{faqInfo.faqDescription}}</td>
            <td>{{faqInfo.faqQOne}}</td>
            <td>{{faqInfo.faqAOne}}</td>
            <td>{{faqInfo.faqQTwo}}</td>
            <td>{{faqInfo.faqATwo}}</td>
            <td>{{faqInfo.faqQThree}}</td>
            <td>{{faqInfo.faqAThree}}</td>
            <td>{{faqInfo.faqQFour}}</td>
            <td>{{faqInfo.faqAFour}}</td>
            <td>{{faqInfo.faqBoldFoot}}</td>
            <td>{{faqInfo.faqFootDescription}}</td>
            
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFaq(faqInfo)"></button>
            </td>
                
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="faqInfoDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="footerBold">FAQ Bold Header</label>
            <input type="text" pInputText id="footerBold" [(ngModel)]="faqInfo.faqBoldHeader" required autofocus>
        </div>    
        <div class="field">
            <label for="footerBold">FAQ Description</label>
            <textarea id="footerBold" pInputTextarea [(ngModel)]="faqInfo.faqDescription" required rows="3" cols="20"></textarea>
        </div>     
        <div class="field">
            <label for="footerBold">FAQ Q 1</label>
            <input type="text" pInputText id="footerBold" [(ngModel)]="faqInfo.faqQOne" required autofocus>
        </div>    
        <div class="field">
            <label for="footerBold">FAQ Answer 1</label>
            <textarea id="footerBold" pInputTextarea [(ngModel)]="faqInfo.faqAOne" required rows="3" cols="20"></textarea>
        </div>  
        <div class="field">
            <label for="footerBold">FAQ Q 2</label>
            <input type="text" pInputText id="footerBold" [(ngModel)]="faqInfo.faqQTwo" required autofocus>
        </div>    
        <div class="field">
            <label for="footerBold">FAQ Answer 2</label>
            <textarea id="footerBold" pInputTextarea [(ngModel)]="faqInfo.faqATwo" required rows="3" cols="20"></textarea>
        </div>  
        <div class="field">
            <label for="footerBold">FAQ Q 3</label>
            <input type="text" pInputText id="footerBold" [(ngModel)]="faqInfo.faqQThree" required autofocus>
        </div>    
        <div class="field">
            <label for="footerBold">FAQ Answer 3</label>
            <textarea id="footerBold" pInputTextarea [(ngModel)]="faqInfo.faqAThree" required rows="3" cols="20"></textarea>
        </div>  
        <div class="field">
            <label for="footerBold">FAQ Q 4</label>
            <input type="text" pInputText id="footerBold" [(ngModel)]="faqInfo.faqQFour" required autofocus>
        </div>    
        <div class="field">
            <label for="footerBold">FAQ Answer 4</label>
            <textarea id="footerBold" pInputTextarea [(ngModel)]="faqInfo.faqAFour" required rows="3" cols="20"></textarea>
        </div>  
        <div class="field">
            <label for="footerBold">FAQ Bold Footer</label>
            <input type="text" pInputText id="footerBold" [(ngModel)]="faqInfo.faqBoldFoot" required autofocus>
        </div>    
        <div class="field">
            <label for="footerBold">FAQ Footer Description</label>
            <textarea id="footerBold" pInputTextarea [(ngModel)]="faqInfo.faqFootDescription" required rows="3" cols="20"></textarea>
        </div>  
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideFaqDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFaqInfo(faqInfo)"></button>
    </ng-template>
</p-dialog>



    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>





