 
<div class="card">
     <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedBoxes()" [disabled]="!selectedBoxes || !selectedBoxes.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="boxes" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="selectedBoxes" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="boxName" style="min-width:15rem">Name <p-sortIcon field="boxName"></p-sortIcon></th>
                <th pSortableColumn="boxYear">Year <p-sortIcon field="boxYear"></p-sortIcon></th>
                <th pSortableColumn="boxBrand" style="min-width:10rem">Brand <p-sortIcon field="boxBrand"></p-sortIcon></th>
                <th pSortableColumn="boxSport" style="min-width:10rem">Sport <p-sortIcon field="boxSport"></p-sortIcon></th>
                <th pSortableColumn="boxPrice">Price <p-sortIcon field="boxPrice"></p-sortIcon></th>
                <th pSortableColumn="boxInStock" style="min-width:10rem">In Stock <p-sortIcon field="boxInStock"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-box>
            <tr>
                <td>
                    <p-tableCheckbox [value]="box"></p-tableCheckbox>
                </td>
                <td>{{box.boxName}}</td>
                <td>{{box.boxYear}}</td>
                <!--<td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>-->
                <td>{{box.boxBrand}}</td>
                <td>{{box.boxSport}}</td>
                <td>{{box.boxPrice | currency:'USD'}}</td>
                <td>{{box.boxInStock}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBox(box)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteBox(box.boxId)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="boxDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="boxName">Box Name</label>
            <input type="text" pInputText id="boxName" [(ngModel)]="box.boxName" required autofocus>
        </div>
        <div class="field">
            <label for="boxBrand">Box Brand</label>
            <input type="text" pInputText id="boxBrand" [(ngModel)]="box.boxBrand">
        </div>
        <div class="field">
            <label for="boxSport">Box Sport</label>
            <input type="text" pInputText id="boxSport" [(ngModel)]="box.boxSport">
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="boxYear">Box Year</label>
                <p-inputNumber id="boxYear" [(ngModel)]="box.boxYear" [useGrouping]="false"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="box.boxPrice" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="boxInStock">In Stock</label>
                <p-inputNumber id="boxInStock" [(ngModel)]="box.boxInStock"></p-inputNumber>
            </div>
        </div>
        <div class="field">
            <label for="boxDescription">Box Description</label>
            <textarea id="boxDescription" pInputTextarea [(ngModel)]="box.boxDescription" required rows="3" cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBox(box)"></button>
    </ng-template>


</p-dialog>

<p-dialog [(visible)]="newBoxDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="boxName">Box Name</label>
            <input type="text" pInputText id="boxName" [(ngModel)]="box.boxName" required autofocus>
        </div>
        <div class="field">
            <label for="boxBrand">Box Brand</label>
            <input type="text" pInputText id="boxBrand" [(ngModel)]="box.boxBrand">
        </div>
        <div class="field">
            <label for="boxSport">Box Sport</label>
            <input type="text" pInputText id="boxSport" [(ngModel)]="box.boxSport">
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="boxYear">Box Year</label>
                <p-inputNumber id="boxYear" [(ngModel)]="box.boxYear" [useGrouping]="false"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="box.boxPrice" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="boxInStock">In Stock</label>
                <p-inputNumber id="boxInStock" [(ngModel)]="box.boxInStock"></p-inputNumber>
            </div>
        </div>
        <div class="field">
            <label for="boxDescription">Box Description</label>
            <textarea id="boxDescription" pInputTextarea [(ngModel)]="box.boxDescription" required rows="3" cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewBox(box)"></button>
    </ng-template>


</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


