<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 lg:col-6 flex justify-content-center">
                    <div class="w-full h-full overflow-hidden ">
                        <img src="{{card.cardImage}}" class="w-full block"/>
                    </div>                           
        </div>
        <div class="col-12 lg:col-6 lg:col-6 py-3 lg:pl-5">
            <div class="flex align-items-center justify-content-between mb-4">
                <span class="text-900 text-4xl font">{{card.cardName}}</span>
                <span class="inline-flex align-items-center">
                    <i class="pi pi-star-fill text-yellow-500 mr-2"></i>
                    <span class="font-bold text-900">5.0</span>
                </span>
            </div>
            <div class="text-700 text-3xl mb-5">${{card.cardPrice}}</div>

            <div class="flex mb-5">
                <button pButton label="Back to Inventory" class="p-button-outlined w-6 mr-1" routerLink="/cardinventory"></button>
                <a  pButton label="Call to Reserve Yours" class="w-6 ml-1" href="tel:+1-888-888-8888"></a>
                <a  pButton label="Purchase on Ebay" class="p-button-outlined w-6 mr-1" href="{{card.cardEbay}}"></a>
            </div>

            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Product Description">
                    <div class="line-height-3">{{card.cardDescription}}</div>
                </p-accordionTab>
                <p-accordionTab header="Product Info">
                    <div class="line-height-3">
                        <b>Box Name</b> : {{card.cardName}}
                    </div>
                    <div class="line-height-3">
                        <b>Brand</b> : {{card.cardBrand}}
                    </div>
                    <div class="line-height-3">
                        <b>Sport</b> : {{card.cardSport}}
                    </div>
                    <div class="line-height-3">
                        <b>Year</b> : {{card.cardYear}}
                    </div>
                    <div class="line-height-3">
                        <b>Price</b> : ${{card.cardPrice}}
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
`